*{
  box-sizing: border-box;
  font-family: "Bahn";
}
html, body{
  margin: 0;
  padding: 0;
}

.container{
  display: relative;
  width: 100%;
  padding: 0 100px;
}

/*TITLE*/
h1{
  padding: 20px;
  background-color: #e62a3e;
  color: white;
  letter-spacing: 5px;
}
.center{
  text-align: center;
  font-weight: lighter;
}

hr{
  width: 100%;
  color: #DDDDDD;
  margin-bottom: 40px;
  opacity: 0.5;
}


/*--FOOD ITEMS---*/
.box-container{
  width: 100%;
  padding: 10px;
}

.box{
  position: relative;
  float: left;
  width: 33.33%;
  padding: 15px;
}

.box-title{
  position: absolute;
  right: 15px;
  width: 200px;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "NHaasGrotesk";
  font-weight: lighter;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: white;
  background-color: #e62a3e;
}

.box-text{
  padding: 15px;
  padding-top: 35px;
  border: 2px solid #DDDDDD; /*#DDDDDD*/
  background-color: white;
  letter-spacing: 1px;
}
/*---FOOD ITEMS END---*/

@media (min-width: 768px) and (max-width: 991px){
  .box:nth-child(1n+0){
    width: 50%;
  }
  .box:last-child{
    width: 100%;
  }
}
@media (max-width: 767px){
  .box{
    width: 100%;
  }
}
@font-face {
  font-family: "Bahn";
  src: url('../fonts/BAHNSCHRIFT 3.TTF');
}
@font-face{
  font-family: "NHaasGrotesk";
  src: url('../fonts/NHaasGroteskTXPro-65Md.ttf')
}